##[>] 🤖🤖
#[what] local configs checkout baked into the image (docker build context). default: sibling ../configs
CONFIGS_DIR=
#[what] in-image path the configs checkout bakes to. default: /home/ko/projects/gitlab/<configs parent dir>/configs
CONFIGS_BAKE_DIR=
#[what] session name (pod + pvc). default: s-<datetime>
SESSION=
##[<] 🤖🤖
